
@charset "utf-8";
/* webfont */
@font-face {
    font-family: 'BagelFatOne-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/BagelFatOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* animaition */
@keyframes text_shape_move{
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}
@keyframes textflow1{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}
@keyframes textflow2{
    from{
        transform: translateX(-50%);
    }
    to{
        transform: translateX(0);
    }
}
/* 오른쪽으로 */
@keyframes move1 {
    50% {
        transform: translate(40px, 40px);
    }
}
/* 위아래 */
@keyframes move2 {
	0% {margin-top: 0px;}
	50% {margin-top: 25px;}
	100% {margin-top: 0px;}
}
@keyframes move4 {
	0% {margin-top: 0px;}
	50% {margin-top: 10px;}
	100% {margin-top: 0px;}
}
/* 오른쪽 회전 */
@keyframes move3{
    0%{
        transform: rotate(-10deg);
    }
    50%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(-10deg);
    }
}
/* 컬러바뀜 */
@keyframes color_1{
    0%{
        color: #3bb98f;
    }
    25%{
         color: #549eff;
    }
    75%{
         color: #f34378;
    }
    100%{
       color: #3bb98f;
    }
}

html,body,div, p, ul,ol,li,a,h1,h2,h3,h4,h5,input,textarea,select,option,strong, em, dl,dd,table,th,td,tr,img,video{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
*{
    cursor: url(../images/cursor3.png) 4 5, url(../images/cursor3.png), url(../images/cursor3.png) 5 5, auto;
}
/* html{
    font-size:;
} */
body{
    font-family: 'NanumBarunGothic';
    line-height: 45px;
    font-size: 14px;
    color: #fff;
    background-color:#000 ;
     /* Prevent font scaling in landscape */

     -webkit-text-size-adjust: none; /*Chrome, Safari, newer versions of Opera*/

     -moz-text-size-adjust: none; /*Firefox*/

     -ms-text-size-adjust: none;  /*Ie*/

     -o-text-size-adjust: none; /*old versions of Opera*/
}
#wrap{
    min-width: 1460px;
}
/* header_s */

/* btn */

.btn_top{
    position: fixed;
    right: 20px;
    bottom: 100px;
    z-index: 1111;
}
.btn_bottom{
    position: fixed;
    right: 20px;
    bottom: 30px;
    z-index: 1111;
}
/* button */

  
#header{
    left: 0;
   position: fixed;
   top: 0;
   z-index: 999;
   height: 5.3rem;
   width: 100%; 
   /* background: rgba(255, 0, 0, .5); */
}
#header::before {
   content: '';
   z-index: -1;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(#ffffff, 0.8);
   backdrop-filter: saturate(180%) blur(10px);
   -webkit-backdrop-filter: blur(10px);
 }
 
.inner_header{
    margin: 0px auto;
    width: 1320px;
  
    /* position: relative; */
}
.nav_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: space-between;
    margin-right: 250px;
}
.menu> li{
    margin-top: 0px;
    padding-top: 15px;

}
.menu> li> a{
    display: block;
    margin:  0 60px;
   padding: 20px 15px 20px;
 
}
.link_wrap{
    margin: 0 auto;
    position:relative;
}
.link{
    display: flex;
    justify-content: space-between;
    color: #FFF8EE;
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 90;
    width: px;
}
.link li a{
    margin: 0 10px;
    display: inline-block;
    
}
.link .line::after, .footer_logo .line::after{
    content: "";
    width: 1px;
    height: 10px;
    background-color: #FFF8EE;
    display: inline-block;
    margin: 0 10px;
    vertical-align: 1px; 
}
.center .line2::after{
    content: "";
    width: 1px;
    height: 10px;
    background-color: #2a8568;
    display: inline-block;
    margin: 0 10px;
    vertical-align: 1px; 
}


/* header_e */

/* main_banner s */

#banner{
    position: relative;
    overflow: hidden;
    height: 940px;
}

.inner_banner{
margin: 0 auto;
width: 1920px;
position: absolute;
top: 0;
left: 50%;
margin-left: -960px;
z-index: 1;
}

/* main_banner e */






/* slick s */
.slick{
    width: 100%;
    margin: 0 auto;
}
.name{
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    line-height: 16px;
}
.name span{
    font-size: 11px;
    color: #ffffff;
}

.slick img{
    border-radius: 20px;
    transition: all 0.2s linear;
}
.slick_img_wrap{
    overflow: hidden;
    border-radius: 20px;
}
.slick img:hover{
    transform: scale(1.1);
    transition: all 0.2s linear;
}

/* slick e */





/* text_flow s */
#about{
    background:url(../images/main_img/2_about/bg2.jpg) repeat center top;
    height: 2480px;
}
.animated{
    padding: 30px 0;
     overflow: hidden;
     
 }
 .track1{
     white-space: nowrap;
     font-size: 65px;
     font-weight: bold;
     color: #ffffff;
     animation: textflow1 4s infinite linear;
      font-family: 'yg-jalnan'
 }
 .track2{
     white-space: nowrap;
     font-size: 65px;
     font-weight: bold;
     color: #ffffff;
     animation: textflow1 4s infinite linear;
      font-family: 'yg-jalnan';
      -webkit-text-stroke: 2px #63B79C;      
 }


 #text_flow{
     margin: 60px 0;
     height: 200px;
     overflow: hidden;
 }
 .left{
     animation: textflow1 8s infinite linear;
 }
 .right{ 
     animation: textflow2 8s infinite linear;
 }

/* text_flow e */
/* ad_banner s*/

#ad_banner{
    margin: 0 auto;
    width: 1320px;
    height: 340px;
    overflow: hidden;
    position: relative;
}
.inner_adbanner img{
    display: block;
    width: 100%;
  
    
}
.inner_adbanner a{
    display: inline-block;
    background-color: #508DFA;
    color: #fff;
    font-size: 18px;
    padding: 10px 40px 10px;
    border-radius: 40px;
    margin-bottom:  20px;
    position: absolute;
    left: 100px;
    bottom:50px;
    z-index: 99;
    transition: all 0.1s linear;
}
.inner_adbanner a:hover{
    background-color: #ffffff;
    color: #4763F3;
    transition: all 0.1s linear;
}

/* ad_banner e*/
/* event_s */
#event{
    overflow: hidden;
    text-align: center;
   padding-top: 100px;
   margin: 0 auto;
   
}
.inner_event{
    width: 1320px;
    margin: 0 auto;
    position: relative;
    height: 650px;
}

.event_text_path{
    position: absolute;
    top: -25px;
    left: 555px;
    z-index: -20;
    animation: text_shape_move 8s linear infinite;
}
.inner_event p{
    margin-top: 0px;
    margin-bottom: 23px;
}

#event a.button {
    display: inline-block;
    float: left;
    width: 120px;
    padding: 0;
    /* margin: 10px 20px 10px 0; */
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    color: #FFF;
    border-radius: 30px;
    transition: all 0.2s ;
    margin-left: 45%;
  }
  #event a.button:hover{
    margin-top: 10px;
    margin-bottom: 23px;
    color: rgb(165, 16, 66);
  }







.btnBlueGreen.btnPush {
    box-shadow: 0px 5px 0px 0px #007144;
  }
  .btnBlueGreen {
    background-color: #63B79C;
  }
  .btnPush:hover {
    padding-top: 15px;
    padding-bottom: 5px;
    background-color: #45caff;
  }
  .btnBlueGreen.btnPush:hover {
    box-shadow: 0px 0px 0px 0px #007144;
    background-color: #ff7ba3;
    padding-top: 20px;

  }

/* 이벤트 탭 */
.event_content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.event_content li{
width: 400px;
background-color: #fff;
border-radius: 20px;
box-shadow: 0 5px 5px -1px #7a7a7a54;
margin-bottom: 10px;
height: 500px;
}
.event_content img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.event_content li h3{
    margin-top: 20px;
    font-size: 23px;
}
.event_content li p{
    margin-top: 5px;
    color: #ABABAB;
}

/* hover */
.event_content img{
    border-radius: 20px 20px 0 0;
    transition: all 0.2s linear;
}
.event_img_wrap{
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}
.event_content img:hover{
    transform: scale(1.1);
    transition: all 0.2s linear;
}


/* event_e */


 



/* instagram s */
#instagram{
    overflow: hidden;
    margin: 0 auto;
}

.inner_instagram{
text-align: center;
 margin: 0 auto;

}
.insta_position_wrap{
    width: 1320px;
    margin: 0 auto;
    position: relative;
}
.insta_text_path{
    position: absolute;
    top: -120px;
    left: 398px;
    z-index: -99;
    animation: text_shape_move 8s linear infinite;
    }
.slider_wrap{
    width: 100%;
}
.slider_wrap2 img{
    border-radius: 19px;
    border: 5px solid #FFC1DC;
}
.insta_p{
    font-family: 'BagelFatOne-Regular';
    margin-top: 20px;
    font-size: 45px;
    padding-top: 30px; 
}
#instagram p{
    margin-top: 30px;
}





/* instagram e */

/* footer s */
#footer{
overflow: hidden;
background: url(../images/footer/footer_bg.svg)no-repeat center;
height: 452.58px;
}
.inner_footer{
    width: 1320px;
    margin: 30px auto;
}
.footer_logo{
    width: 1320px;
    margin: 0px auto;
    margin-top: 100px;
    text-align: center;
    align-items: center;
}
.footertext_wrap{
    display: flex;
    justify-content: space-between;
    color: #156D51;
    width: 1080px;
    margin: 0 auto;
}
.footer_logo{
    display: flex;
    justify-content: space-between;
}
.footer_top{
    display:flex;
    justify-content: center;
    padding-right: 500px;
    color: #156D51;
}
.footer_top li{
    transition: all 0.2s linear;
}
.footer_top li:hover{
    color: #FFF8EE;
    transition: all 0.2s linear;
}

/* left */
.footer_left li{
margin-top: 10px;
}

.left_1, .left_2{
    display: flex;
    justify-content: left;

}
.left_1_1, .left_2_1{
    padding-left: 40px;
}
.footer_left p{
    padding-top: 30px;
}
/* center */
.center1{
    display: flex;
}
.center p{
    padding-top: 15px;
}
/* right */
.footer_right .right_1, .footer_right .right_2{
    padding-top: 15px;
}

/* footer e */